body {
    margin: 0px;
    padding: 0px;

    font-family: ABeeZee;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#numberClickingDiv {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#numbersTable {
    border-collapse: collapse;
}

#numbersTable td {
    width: calc((100vh - 200px) / 5);
    height: calc((100vh - 200px) / 5);
    border: 1px solid black;
    position: relative;
}

.numBtn {
    width: 100%;
    height: 100%;
    font-family: ABeeZee;
    border: none;
    background-color: white;
    font-size: 25px;
}

#playerBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;

    border-radius: 50%;
    border: 5px solid transparent;
    font-size: 25px;
    background-color: lightgrey;
    transition: transform 2000ms ease-in-out;

    z-index: 2;
}




#scoreHUD {
    position: absolute;
    top: 0px;
    left: 0px;
    
    width: 250px;
    height: 100%;

    border-right: 3px solid black;
}

#scoreText {
    font-size: 25px;
    margin-left: 30px;
}

#cashText {
    font-size: 25px;
    margin-left: 30px;
    margin-top: -20px;
}

#comboText {
    font-size: 22px;
    margin-left: 30px;
    margin-top: 60px;
    visibility: hidden;
}

#comboBar {
    width: 240px;
    height: 30px;
    margin-left: 30px;
    margin-top: -15px;
    position: relative;
    visibility: hidden;
}

.comboRect {
    width: 14px; /* 10% width for each rectangle with 5px gap on each side */
    height: 30px;
    background-color: lightgrey;
    display: inline-block;
    transition: transform 0.1s linear;
}

.comboRect:last-child {
    margin-right: 0; /* Remove margin from the last rectangle to avoid extra gap */
}

.comboRect.pulse {
    transition: transform 0s linear !important;
    transform: scale(1.4);
}

#cmb1.cmbOn {
    background-color: red;
}

#cmb2.cmbOn {
    background-color: red;
}

#cmb3.cmbOn {
    background-color: red;
}

#cmb4.cmbOn {
    background-color: orange;
}

#cmb5.cmbOn {
    background-color: orange;
}

#cmb6.cmbOn {
    background-color: gold
}

#cmb7.cmbOn {
    background-color: gold
}

#cmb8.cmbOn {
    background-color: #33cc33
}

#cmb9.cmbOn {
    background-color: #33cc33
}

#cmb10.cmbOn {
    background-color: #3399ff;
}

.cmb1bdr {
    border-image: conic-gradient(
        red 0deg 36deg
    ) 1;
}

.cmb2bdr {
    border-image: conic-gradient(
        red 0deg 72deg
    ) 1;
}

.cmb3bdr {
    border-image: conic-gradient(
        red 0deg 108deg
    ) 1;
}

.cmb4bdr {
    border-image: conic-gradient(
        orange 0deg 144deg
    ) 1;
}





#playtimeHeader {
    font-size: 20px;
    margin-left: 30px;
    margin-top: 200px;
}

#playtimeText {
    font-size: 16px;
    margin-left: 30px;
    margin-top: -12px;
}

#shopDisplay {
    position: absolute;
    top: 0px;
    right: 0px;
    
    width: 300px;
    height: 100%;

    border-left: 3px solid black;
}

.shopRow {
    width: 100%;
    border-bottom: 2px dotted black;
    display: none;
}

.shopItemName {
    font-size: 20px;
    margin-left: 20px;
}

.shopItemDesc {
    font-size: 16px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -10px;
}

.shopItemBtn {
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;

    border: none;
    border-radius: 10000px;
    height: 30px;

    font-size: 18px;
    font-family: ABeeZee;
    
    transition: background-color 0.2s, color 0.2s;
}

.btnAvailable {
    background-color: #3399ff;
    color: white;
    transition: background-color 0.2s, color 0.2s;
}

.btnAvailable:hover {
    background-color: #4da6ff;
    transition: background-color 0.2s, color 0.2s;
}

.btnAvailable:active {
    background-color: #0080ff;
    transition: background-color 0.2s, color 0.2s;
}

.btnMax {
    background-color: #33cc33;
    color: white;
    transition: background-color 0.2s, color 0.2s;
}

.btnMax:hover {
    background-color: #47d147;
    transition: background-color 0.2s, color 0.2s;
}

.btnMax:active {
    background-color: #009933;
    transition: background-color 0.2s, color 0.2s;
}

